/PRACTICA_1/build/
.obsidian
/Monitors/GroupEx/target/
/Monitors/ExercicisMonitors/target/
/exercicisTransport/codi/exercicisTransport/build/
/exercicisTransport/codi/exercicisTransport/nbproject/private/
/Monitors/monitors/target/
